@import "bourbon";
@import "base/base";
@import "neat";

@import "refills/_modal";

header {
  @include outer-container;
}
section {
  @include outer-container;
}

ul.default {
  @extend %default-ul;
}
ul.horizontal {
  li {
    display: inline-block;
    margin-right: 2em;
  }
}

div.half {
  @include span-columns(6);
  word-wrap: break-word;
  $mobile: new-breakpoint(max-width 500px 4);
  @include media($mobile) {
    @include span-columns(4);
  }
}

@mixin flash($color) {
  display: block;
  font-weight: bold;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 2;
  background: $color;
  color: darken($color, 60);

  a {
    color: darken($color, 70);
    border-bottom: 1px solid transparentize(darken($color, 70), .7);

    &:hover {
      color: darken($color, 90);
    }
  }
}

.flash-alert {
  @include flash($alert-color);
}

.flash-error {
  @include flash($error-color);
}

.flash-notice {
  @include flash($notice-color);
}

.flash-success {
  @include flash($success-color);
}

.button {
  @extend %button;
}

table.not-fixed {
  table-layout: auto;
}

.incorrect, .expired, .no_access {
  color: darken($error-color, 45);
}

.alert-text {
  color: darken($alert-color, 55);
}

.prime {
  @include flash(#FFD700);
  display: inline;
  font-size: 0.4em;
  vertical-align: middle;
}
